*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 1px dashed #ba4270;
  outline-offset: 4px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #edf3f8;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  line-height: 1.86;
  font-weight: 400;
  color: #1b262f;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "DM Serif Display", "Georgia", serif;
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 1;
  letter-spacing: -0.55px;
  color: #36536b;
  margin: 0;
}

.small-h1 {
  font-family: "DM Serif Display", "Georgia", serif;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 1;
  letter-spacing: -0.43px;
  color: #36536b;
  margin: 0;
}

h2 {
  font-family: "DM Serif Display", "Georgia", serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.16;
  letter-spacing: -0.37px;
  color: #36536b;
}

h3 {
  font-family: "DM Serif Display", "Georgia", serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.25px;
  color: #36536b;
}

.small-h3 {
  font-family: "Public Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.38;
  letter-spacing: -0.14px;
  color: #36536b;
}

h4 {
  font-family: "DM Serif Display", "Georgia", serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.33;
  letter-spacing: -0.18px;
  color: #36536b;
}

.sitenav {
  margin-right: auto;
}
.sitenav ul {
  display: flex;
  align-items: center;
}
.sitenav li:not(:last-child) {
  margin-right: 4rem;
}
.sitenav a {
  line-height: 1.17;
  color: #36536b;
  opacity: 0.7;
  font-weight: 700;
}
.sitenav a:hover {
  opacity: 1;
}

.header {
  padding: 4rem 0;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 4rem 0 3.2rem;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header .site-logo {
  display: flex;
  margin-right: 6.4rem;
}
@media only screen and (max-width: 768px) {
  .header .site-logo {
    margin-right: auto;
  }
}
.header .site-logo img {
  display: block;
}
@media only screen and (max-width: 768px) {
  .header__btn {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.burger-btn {
  background-color: transparent;
  display: none;
}
.burger-btn img {
  display: block;
}
@media only screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
}

.wrapper {
  background-image: url("../images/png/bg-round.png");
  background-size: 780px 780px;
  background-repeat: no-repeat;
  background-position: right -140px top -172px;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    background-size: 949px 949px;
    background-position: center top -660px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    background-size: 780px 780px;
    background-position: center top -540px;
  }
}

.hero {
  padding: 3.4rem 0 7.5rem;
}
@media only screen and (max-width: 768px) {
  .hero {
    padding: 0.8rem 0 10rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero {
    padding: 0rem 0 8rem;
  }
}
.hero .container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1048px) {
  .hero .container {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .hero .container {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.hero__text-wrapper {
  width: 100%;
  max-width: 546px;
  margin-right: 20rem;
}
@media only screen and (max-width: 1048px) {
  .hero__text-wrapper {
    margin-right: 0;
  }
}
.hero h1 {
  margin-bottom: 2.1rem;
}
@media only screen and (max-width: 992px) {
  .hero h1 {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero h1 {
    font-size: 3.2rem;
  }
}
.hero form {
  background-color: #fff;
  display: inline-flex;
  border-radius: 24px;
  align-items: stretch;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 576px) {
  .hero form {
    flex-direction: column;
    background-color: transparent;
  }
}
@media only screen and (max-width: 370px) {
  .hero form {
    width: 100%;
  }
}
.hero input {
  width: 272px;
  border-radius: 24px;
  padding: 1.5rem 0.5rem 1.5rem 2.7rem;
  background-color: #fff;
  color: #36536b;
  font-weight: 700;
  outline: none;
}
@media only screen and (max-width: 576px) {
  .hero input {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (max-width: 370px) {
  .hero input {
    width: 100%;
  }
}
.hero input::placeholder {
  font-weight: 700;
  color: rgba(54, 83, 107, 0.5);
}
.hero p {
  color: #36536b;
  opacity: 0.7;
  padding-left: 2.7rem;
}
@media only screen and (max-width: 768px) {
  .hero p {
    padding-left: 0;
  }
}
.hero p a {
  font-weight: 700;
}
.hero img {
  border-radius: 34px;
  box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
}
@media only screen and (max-width: 768px) {
  .hero img {
    width: 159px;
    height: 300px;
    border-radius: 24px;
    margin-bottom: 4.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero img {
    width: 127px;
    height: 240px;
    border-radius: 20px;
  }
}

.primary-btn {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 1.5rem 2.55rem;
  display: inline-block;
}
.primary-btn:hover {
  background-color: #da6d97;
}
.primary-btn:active {
  background-color: rgba(186, 66, 112, 0.6);
}

.secondary-btn {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  letter-spacing: -0.12px;
  color: #fbfcfe;
  border: 1px solid #fbfcfe;
  background-color: transparent;
  border-radius: 24px;
  padding: 1.4rem 3.1rem;
  display: inline-block;
}
.secondary-btn:hover {
  background-color: #fff;
  color: #1b262f;
}
.secondary-btn:active {
  background-color: transparent;
  color: #fbfcfe;
  opacity: 0.6;
}

.blue-btn {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  letter-spacing: -0.12px;
  color: #36536b;
  border: 1px solid #36536b;
  background-color: transparent;
  border-radius: 24px;
  padding: 1.4rem 2.6rem;
  display: inline-block;
}
.blue-btn:hover {
  background-color: #36536b;
  color: #fff;
}
.blue-btn:active {
  background-color: transparent;
  color: #36536b;
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */